*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}



/* navbar */ 

.navbar{
    height: 85px;
    width: 100%;
    background-color: black;
    position: sticky;
    display: flex;
    align-items: center ;
    justify-content: space-between;
    /* z-index: 1; */
}


.left-sec{
    height: 70px;
    width: 400px;
    /* background-color: brown; */
    position: absolute;
    display: flex;
    align-items: center;
    color: white;
    margin-left: 10px;
}

.dropdown1{
    text-align: center;
    font-weight: 700;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-style: none; */
    margin: 10px;
    margin-left:20px ;

}

.input1{
    height:35px ;
    width: 200px;
    display: flex;
    background-color: black;
    margin-left:25px ;
    border: 1px solid grey;
    font-size: 15px;
}

.input1 > input{
    width:100%;
    height:35px ;
    padding-left:10px ;
    font-size: 15px;
    border-radius:0px ;
    background-color: black;

}

.input1 > input:focus{
    border: 5px solid blue;
    border-radius: 0px;
}




.mid-sec{
    height: 70px;
    width: 100px;
    /* background-color: blue; */
    position: absolute;
    right: 46%;
    top: 16px;
}
.nav-logo{
    height: 52px;
    width: 100px;
}






.right-sec{
    height: 70px;
    width:  550px;
    /* background-color: blueviolet; */
    display: flex;
    position: absolute;
    align-items: center;   
    justify-content: space-evenly;
    right: 0px;
}


.right-sec > h3{
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-style: none; */
    /* margin: 10px; */
    margin-left:10px ;

}

.right-sec > button{
    background-color: black;
    font-size: 10px;
    letter-spacing: 1px;
    color: white;
    border: 1px solid red;
    padding: 2px;
    border-radius: 3px;
    /* right: 50;; */
}

.right-sec > button:hover{
    background-color: red;
}





/* Main container */








/* section 1 */



.section1{
    height: 900px;
    width: 100%;
    background-color: brown;
    position: relative;

}

.img1{
    width: 100%;
    position: absolute;
    height: 900px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url('asset/section1.webp') no-repeat center/cover;
    


}
.text1{
    position: absolute;
    height: 580px;
    width: 650px;
    /* background-color: blue; */
    bottom: 0;
    left: 40px;

}
.text1>h1{
    font-size: 80px;
    font-weight: bolder;
    color: rgb(233, 233, 233);
}

.text1>p{
    color: white;
    margin-top: 70px;
    font-size: 20px ;

}
.text1>h2{
    font-size: 25px;
    font-weight: bolder;
    margin-top: 33px;
    color: rgb(233, 233, 233);
}






/* section 2 */

.section2{
    height: 750px;
    width: 100%;
    /* background-color: aqua; */
}

.text2{
    height: 180px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 60px;
}

.text2 >h1{
    font-size: 50px;
}




.sec2-img{
    height: 450px;
    width: 95%;
    margin: auto;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    /* padding: 10px; */

}

.left-imgs{
    width:50%;
    height: 450px;
    /* background-color: bisque; */
    padding: 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url(asset/dragonfly-inflight.webp)  center/cover;
    margin: 5px;


}

.text3{
    color: white;

    flex-direction: column;
    display: flex;

    
    
}

.text3-a{
    height: 100%;
    width: 100%;
    /* background-color: rgb(255, 255, 255); */
    font-size: 25px;
    font-weight: bolder;

}


    


.article{
    font-size: 16px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 5px;

    color: white;
    
}

.art1{
    margin-top: 330px;
}




.right-imgs{
    width: 50%;
    height: 450px;
    /* background-color: rgb(243, 134, 0); */
    display: flex;
    /* padding: 5px; */



}


.lambi-img{
    height: 100%;
    width: 50%;
    /* background-color: cadetblue; */
    padding: 5px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url('asset/abc.jpg') center/cover;
    margin: 0px 10px;




}

.do-imgs{
    height: 100%;
    width: 50%;
    /* background-color: rgb(32, 160, 0); */
    /* display:flex; */
    /* padding: 5px; */
 
    margin-left: 5px;




}


.upper-img{
    height: 49%;
    width: 100%;
    /* background-color:red ; */
    padding: 5px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url('asset/2.webp') center/cover;
    margin-bottom: 10px;

 




}


.lower-img{
    height: 49%;
    width: 100%;
    /* background-color:rgb(255, 0, 212) ; */
    /* padding: 5px; */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url('asset/1-pia26443-spacecraft-illustration.webp') center/cover;


   

}


/* section 3 */


.section3{
    height: 200px;
    width: 100%;
    /* background-color: rgb(0, 0, 0); */
    
}

.text4{
    height: 170px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    margin: auto;
    justify-content: center;
}

.text4a{
    height: 170px;
    width: 24%;
    /* background-color: aqua; */
    display: flex;
    padding: 10px;


}

.note1{
    font-size: 18px;
    font-weight: bolder;
}
.inner-text1{
    padding: 10px;
    margin-left: 10px;
}
.black{
    color:black;
}

.text4-img{
    height: 100%;
    width: 40%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;

}

.text4-img > img{
  

    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: beige;
}



.text4b{
    height: 170px;
    width: 24%;
    /* background-color: aqua; */
    display: flex;
    padding: 10px;
}
.text4c{
    height: 170px;
    width: 24%;
    /* background-color: aqua; */
    display: flex;
    padding: 10px;
}
.text4d{
    height: 170px;
    width: 24%;
    /* background-color: aqua; */
    display: flex;
    padding: 10px;
}




/* section 4 */


.section4{
    height: 750px;
    width: 100%;
    /* background-color: aqua; */

}

.text5{
    height: 180px;
    width: 100%;
    /* background-color: white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 60px;
}

.text5 >h1{
    font-size: 50px;
}

.sec4-imgs{
    height: 500px;
    width: 100%;
    /* background-color: brown; */
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.sec4-img1{
    height: 100%;
    width: 22%;
    /* background-color:blue; */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url('asset/iss063e053998~large.jpg') center/cover;



}
.sec4-img2{
    height: 100%;
    width: 22%;
    /* background-color:blue; */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url('asset/edu_srch_microsofts_hacking_stem.webp') center/cover;



}

.sec4-img3{
    height: 100%;
    width: 22%;
    /* background-color:blue; */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url('asset/iss041e012095~large.jpg') center/cover;



}

.sec4-img4{
    height: 100%;
    width: 22%;
    /* background-color:blue; */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url('asset/meir-2.webp') center/cover;



}

.sec4-txt{
    height: 100%;
    width: 70%;
    font-size: 30px;
    font-weight: bolder;
    padding: 20px;
    padding-bottom: 50px;
    color: white;
    display: flex;
    align-items:flex-end;
}









